.speechBubble {
  background-color: var(--color__gray--lightest);
  padding: 1rem;
  border: 0.2rem solid var(--color__secondary);
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  width: 100%;
  word-break: break-word;
  opacity: 0;
  transform-origin: bottom;
  animation: reveal 0.4s 0.02s ease-in-out forwards;

  & :global(.title) {
    font-family: var(--font-cursive);
    font-size: var(--step-2);
    color: var(--color__secondary);
    margin-bottom: 0.25rem;
  }

  &:global(:not(:has(.formatted))) strong {
    background: var(--color__gradient--cta);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & :global(.formatted) {
    width: 100%;

    @media not print {
      max-height: clamp(20rem, 30vh, 100rem);
      overflow-y: auto;
    }

    & p {
      margin-top: 1.25rem;
      margin-bottom: 0.75rem;
    }

    & ul,
    & ol {
      & li + li {
        margin-top: 0.75rem;
      }
    }
  }

  &::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 1.2rem solid transparent;
    border-right: 1.2rem solid transparent;
    border-top: 1.3rem solid var(--color__secondary);
    position: absolute;
    bottom: -1.3rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(0.6rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
