.wrapper {
  z-index: 10;
  display: flex;
  justify-content: space-around;
  position: fixed;
  right: -1rem;
  transform: translateX(100%) translateY(-50%);
  animation: fromRight 0.4s ease-out forwards;
  top: 50%;

  @media screen and (min-width: 1600px) {
    transform: translateY(-100%);
    animation: fromTop 0.4s ease-out forwards;
    top: -1rem;
    left: 0;
    right: 0;
  }
}

.buttons {
  display: flex;
  padding: 1rem 1rem 1rem 0.75rem;
  background-color: var(--color__gray--lightest);
  border: 0.4rem solid var(--color__tertiary);
  border-radius: 1.2rem;
  gap: 1rem;
  flex-direction: column;

  @media screen and (min-width: 1600px) {
    padding: 1rem 2rem 0.75rem;
    flex-direction: row;
    border-color: var(--color__secondary);
  }

  & button {
    padding: 0.5rem;
    border-radius: 100%;
  }
}

@keyframes fromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fromRight {
  from {
    transform: translateX(100%) translateY(-50%);
  }
  to {
    transform: translateX(0) translateY(-50%);
  }
}
