.wrapper {
  max-width: var(--container__medium);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.section {
  background-color: var(--color__gray--lightest);
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form {
  margin-bottom: 0.5rem;
  position: relative;
  display: inline-flex;

  & button {
    position: absolute;
    right: 0;
    top: -0.05rem;
  }

  & input {
    padding-right: 4rem;
  }
}
